<script src="../controllers/classesController.js"></script>

<div id="classesContainer" class="md-padding" ng-controller="classesCtrl">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Classes</span>
                </h2>
                <span flex></span>
                <md-button id="createClassButton" class="md-icon-button" ng-click="addClass($event)" ng-disabled="readingDisk">
                    <md-tooltip md-visible="addClassTooltip">Create Class</md-tooltip>
                    <md-icon md-svg-icon="img/plus.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content id="classesList" flex layout-padding autoscroll="160">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="class in classes">
                    <md-button id="class{{ class.ID }}" ng-click="viewClass(class.ID)" style="padding:5px;" flex>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ class.courseID }}</h3>
                            <h4>{{ class.courseName }}</h4>
                            <p>{{ class.courseSemester + " " + class.courseYear }}</p>
                        </div>
                    </md-button>
                    <div layout="row" style="padding-left:8px; position:relative;top:15px">
                        <md-button ng-click="editClass($event,class.ID)" class="md-icon-button" aria-label="Edit" style="padding: 0; margin:0;">
                            <md-icon md-svg-icon="img/edit.svg"></md-icon>
                        </md-button>
                        <md-button ng-click="deleteClass(class.ID)" class="md-icon-button" aria-label="Delete" style="padding: 0;margin:0;">
                            <md-icon md-svg-icon="img/delete.svg"></md-icon>
                        </md-button>
                    </div>
                    <md-divider inset ng-if="!$last"></md-divider>
                </md-list-item>
                <!--Used to make create class appear to fade into box it creates-->
                <md-list-item style="min-height: 0"></md-list-item>
                <md-list-item class="md-2-line" ng-if="classes.length == 0">
                    <div class="md-list-item-text">
                        <h3>Welcome to The Assessorator. Create a class to get started.</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line" ng-if="readingDisk">
                    <div class="md-list-item-text" style="text-align:center">
                        <h3>
                            Loading Data...
                        </h3>
                        <img src="img/ajax-loader.gif" style="height:19px;width:220px;margin-left:auto;margin-right:auto;"/>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</div>