<script src="../controllers/classViewController.js"></script>

<div id="classContainer" ng-controller="classViewCtrl">
    <nav class="navbar navbar-masthead navbar-default" style="margin-bottom:0">
        <div class="container-fluid" style="padding-left:0">
            <div class="collapse navbar-collapse bs-example-masthead-collapse-1">
                <!-- Left Elements -->
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand">{{ class.courseID }}</a></li>
                    <li><a href="#" ng-click="goBack()">Course Selection</a></li>
                    <li><a href="#" ng-click="about()">About</a></li>
                </ul>
                <!-- Right Elements -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown>
                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li><a href="#" ng-click="importQuestions()">Import Questions</a></li>
                            <li><a href="#" ng-click="exportAssessment()">Export Assessment</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="deleteQuestions()">Delete Multiple Questions</a></li>
                            <li role="separator" class="divider"></li>
                            <li tooltip-placement="left" uib-tooltip="Use this if the questions listed under specific objectives are wrong (or acting funny).">
                                <a href="#" ng-click="repairObjectives()">Repair Objective Relationships</a>
                            </li>
                        </ul>
                    </li>
                    <li tooltip-placement="bottom" uib-tooltip="Nothing here yet!"><a href="#">Settings</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <md-content>
        <md-tabs md-autoselect md-dynamic-height md-border-bottom>
            <md-tab label="Overview">
                <div autoscroll="130">
                    <md-content class="md-padding greyBackground" layout="column" layout-gt-sm="row">

                        <uib-tabset justified="true">
                            <!-- Assessments Tab -->
                            <uib-tab index="0" context-menu="assessmentsHeading">
                                <uib-tab-heading>
                                    Assessments  ({{ class.assessments.length }})
                                </uib-tab-heading>

                                <div class="tab-pane" style="padding:5px;background:white;border:1px solid #ddd;border-top-color:white;border-radius:0 0 4px 4px">
                                    <div id="assessmentFloatingButtons" class="container-fluid" style="padding-bottom:5px;">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-primary" ng-click="createAssessment()">Create New</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.assessments.length" ng-click="iterateAccordion(assessmentOpen,true,class.assessments.length)">Expand All</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.assessments.length" ng-click="iterateAccordion(assessmentOpen,false,class.assessments.length)">Collapse All</button>
                                        </div>
                                    </div>

                                    <div id="assessmentAccordionScroll" autoscroll="255" ng-scroll="floatingScrollListener('assessmentFloatingButtons','assessmentAccordionScroll')">
                                        <div class="container-fluid" ng-if="!class.assessments.length">
                                            <h4 class="text-info">No Assessments</h4>
                                        </div>

                                        <uib-accordion close-others="false">
                                            <div uib-accordion-group class="panel-default" ng-repeat="assessment in class.assessments" is-open="assessmentOpen[$index]" context-menu="assessmentHeader">
                                                <uib-accordion-heading>
                                                    <div>
                                                        {{ assessment.assessmentName }}
                                                        <span class="badge" ng-if="assessment.rules.length">
                                                            {{ assessmentBadgeRules(assessment) }}
                                                        </span>
                                                        <span class="badge" ng-if="assessment.questions.length">
                                                            {{ assessmentBadgeQuestions(assessment) }}
                                                        </span><br ng-if="assessment.assessmentDescription"/>
                                                        <small ng-if="assessment.assessmentDescription">{{ assessment.assessmentDescription }}</small>
                                                    </div>
                                                </uib-accordion-heading>

                                                <div class="btn-group btn-group-sm pull-right" role="group">
                                                    <button type="button" class="btn btn-default" ng-click="editAssessment(assessment.ID)">Edit</button>
                                                    <button type="button" class="btn btn-default" ng-click="exportAssessment(assessment.ID)">Export</button>
                                                </div>

                                                <!-- Rules -->
                                                <strong ng-if="assessment.rules.length">Rules:</strong>
                                                <p style="padding-left:5px" ng-repeat="rule in assessment.rules" bind-html-compile="formatAssessmentRule(rule)"></p>
                                                <!-- Manually Added Questions -->
                                                <strong ng-if="assessment.questions.length">Questions:</strong>
                                                <p style="padding-left:5px" ng-repeat="question in assessment.questions" bind-html-compile="formatAssessmentQuestion(question)"></p>

                                                <!-- No Rules or Questions -->
                                                <p class="text-info" ng-if="!assessment.questions.length && !assessment.rules.length">
                                                    This assessment contains no rules or questions.
                                                </p>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                </div>
                            </uib-tab>
                            <!-- Topics Tab-->
                            <uib-tab index="1" context-menu="topicsHeading">
                                <uib-tab-heading>
                                    Topics  ({{ class.topics.length-1 }})
                                </uib-tab-heading>

                                <div class="tab-pane" style="padding:5px;background:white;border:1px solid #ddd;border-top-color:white;border-radius:0 0 4px 4px">
                                    <div id="topicFloatingButtons" class="container-fluid" style="padding-bottom:5px;">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-primary" ng-click="createTopic()">Create New</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.topics.length" ng-click="iterateAccordion(topicOpen,true,class.topics.length)">Expand All</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.topics.length" ng-click="iterateAccordion(topicOpen,false,class.topics.length)">Collapse All</button>
                                        </div>
                                    </div>

                                    <div id="topicAccordionScroll" autoscroll="255" ng-scroll="floatingScrollListener('topicFloatingButtons','topicAccordionScroll')">
                                        <div class="container-fluid" ng-if="!class.topics.length">
                                            <h4 class="text-info">No Topics</h4>
                                        </div>

                                        <uib-accordion close-others="false">
                                            <div uib-accordion-group class="panel-default" ng-repeat="topic in class.topics" is-open="topicOpen[$index]" context-menu="topicHeader">
                                                <uib-accordion-heading>
                                                    <div>
                                                        {{ topic.topicName }}
                                                        <span class="badge">
                                                            {{ topicBadge(topic) }}
                                                        </span><br/>
                                                        <small>{{ topic.topicDescription }}</small>
                                                    </div>
                                                </uib-accordion-heading>

                                                <div class="btn-group btn-group-sm pull-right" role="group">
                                                    <button type="button" class="btn btn-default" ng-click="editTopic(topic.ID)">Edit</button>
                                                </div>

                                                <!-- Questions -->
                                                <strong ng-if="topic.questions.length">Questions:</strong>
                                                <p style="padding-left:5px" ng-repeat="question in topic.questions" bind-html-compile="formatAssessmentQuestion(question)"></p>

                                                <!-- No Questions -->
                                                <p class="text-info" ng-if="!topic.questions.length">
                                                    There are no questions under this topic.
                                                </p>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                </div>
                            </uib-tab>
                            <!-- Objectives Tab -->
                            <uib-tab index="2" context-menu="objectivesHeading">
                                <uib-tab-heading>
                                    Objectives  ({{ class.objectives.length }})
                                </uib-tab-heading>

                                <div class="tab-pane" style="padding:5px;background:white;border:1px solid #ddd;border-top-color:white;border-radius:0 0 4px 4px">
                                    <div id="objectiveFloatingButtons" class="container-fluid" style="padding-bottom:5px;">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-primary" ng-click="createObjective()">Create New</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.objectives.length" ng-click="iterateAccordion(objectiveOpen,true,class.objectives.length)">Expand All</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!class.objectives.length" ng-click="iterateAccordion(objectiveOpen,false,class.objectives.length)">Collapse All</button>
                                        </div>
                                    </div>

                                    <div id="objectiveAccordionScroll" autoscroll="255" ng-scroll="floatingScrollListener('objectiveFloatingButtons','objectiveAccordionScroll')">
                                        <div class="container-fluid" ng-if="!class.objectives.length">
                                            <h4 class="text-info">No Objectives</h4>
                                        </div>

                                        <uib-accordion close-others="false">
                                            <div uib-accordion-group class="panel-default" ng-repeat="objective in class.objectives" is-open="objectiveOpen[$index]" context-menu="objectiveHeader">
                                                <uib-accordion-heading>
                                                    <div>
                                                        {{ objective.objectiveText }}
                                                        <span class="badge">
                                                            {{ objectiveBadge(objective) }}
                                                        </span><br/>
                                                    </div>
                                                </uib-accordion-heading>

                                                <div class="btn-group btn-group-sm pull-right" role="group">
                                                    <button type="button" class="btn btn-default" ng-click="editObjective(objective.ID)">Edit</button>
                                                </div>

                                                <!-- Questions -->
                                                <strong ng-if="objective.questionUIDs.length">Questions:</strong>
                                                <p style="padding-left:5px" ng-repeat="questionUID in objective.questionUIDs" bind-html-compile="formatObjectiveQuestion(questionUID)"></p>

                                                <!-- No Questions -->
                                                <p class="text-info" ng-if="!objective.questionUIDs.length">
                                                    There are no questions under this objective.
                                                </p>

                                            </div>
                                        </uib-accordion>
                                    </div>
                                </div>
                            </uib-tab>
                            <!-- Questions Tab -->
                            <uib-tab index="3" context-menu="questionsHeading">
                                <uib-tab-heading>
                                    Questions  ({{ getClassQuestions() }})
                                </uib-tab-heading>

                                <div class="tab-pane" style="padding:5px;background:white;border:1px solid #ddd;border-top-color:white;border-radius:0 0 4px 4px">
                                    <div id="questionFloatingButtons" class="container-fluid" style="padding-bottom:5px;">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-primary" ng-click="createQuestion()">Create New</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!questionCount" ng-click="iterateAccordion(questionOpen,true,questionCount)">Expand All</button>
                                            <button type="button" class="btn btn-default" ng-disabled="!questionCount" ng-click="iterateAccordion(questionOpen,false,questionCount)">Collapse All</button>
                                        </div>
                                    </div>

                                    <div id="questionAccordionScroll" autoscroll="255" ng-scroll="floatingScrollListener('questionFloatingButtons','questionAccordionScroll')">
                                        <div class="container-fluid" ng-if="!questionCount">
                                            <h4 class="text-info">No Questions</h4>
                                        </div>

                                        <uib-accordion close-others="false">
                                            <div uib-accordion-group class="panel-default" ng-repeat="question in getAllQuestions()" is-open="questionOpen[$index]" context-menu="questionHeader">
                                                <uib-accordion-heading>
                                                    <div>
                                                        {{ question.questionTitle }}
                                                        <span class="badge" ng-if="question.topicID != 0">
                                                            {{ questionBadgeTopic(question) }}
                                                        </span>
                                                        <span class="badge" ng-if="question.objectives.length">
                                                            {{ questionBadgeObjectives(question) }}
                                                        </span><br ng-if="question.questionDescription"/>
                                                        <small ng-if="question.questionDescription">{{ question.questionDescription }}</small>
                                                    </div>
                                                </uib-accordion-heading>

                                                <div class="btn-group btn-group-sm pull-right" role="group">
                                                    <button type="button" class="btn btn-default" ng-click="editQuestion(question.UID)">Edit</button>
                                                </div>

                                                <!-- Question Topic and Objectives -->
                                                <p bind-html-compile="formatQuestionTopicObjectives(question)"></p>

                                                <!-- Question Type -->
                                                <strong bind-html-compile="formatQuestionType(question)"></strong>

                                                <!-- Answers -->
                                                <p style="padding-left:5px" ng-if="question.answers" ng-bind-html="formatQuestionAnswers(question)"></p>

                                                <!-- No Answers -->
                                                <p class="text-info" ng-if="!question.answers">
                                                    This question has no answers.
                                                </p>
                                            </div>
                                        </uib-accordion>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </md-content>
                </div>
            </md-tab>
            <md-tab ng-repeat="tab in tabs" label="{{ tab.name }}">
                <md-content class="md-padding greyBackground">
                    <div ng-include="tab.URL" dynamic-ctrl="tab.controller"
                         ng-init="tabID=tab.id;tabData=tab.data;requestFocus()"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>