<script src="../controllers/classViewController.js"></script>

<div id="classContainer" ng-controller="classViewCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="goBack()" aria-label="Go Back">
                <md-icon md-svg-icon="img/arrow-left.svg"></md-icon>
            </md-button>
            <h2>
                <span>{{ class.courseID }}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Overview">
                <md-content class="md-padding" layout="column" layout-gt-sm="row">
                    <md-card flex="40">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>
                                    <span>Assessments</span>
                                </h2>
                                <span flex></span>
                                <md-button class="md-icon-button">
                                    <md-tooltip>Create Assessment</md-tooltip>
                                    <md-icon md-svg-icon="img/plus.svg"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content flex layout-padding>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="assessment in class.assessments">
                                    <div class="md-list-item-text">
                                        <h3>{{ assessment.assessmentName }}</h3>
                                        <p>{{ assessment.assessmentDescription }}</p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-card>
                    <md-card flex="20">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>
                                    <span>Topics</span>
                                </h2>
                                <span flex></span>
                                <md-button class="md-icon-button">
                                    <md-tooltip>Create Topic</md-tooltip>
                                    <md-icon md-svg-icon="img/plus.svg"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content flex layout-padding>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="topic in class.topics">
                                    <div class="md-list-item-text">
                                        <h3>{{ topic.topicName }}</h3>
                                        <p>{{ topic.topicDescription }}</p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-card>
                    <md-card flex="40">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2>
                                    <span>Questions</span>
                                </h2>
                                <span flex></span>
                                <md-button class="md-icon-button">
                                    <md-tooltip>Create Question</md-tooltip>
                                    <md-icon md-svg-icon="img/plus.svg"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content flex layout-padding>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="question in getAllQuestions()">
                                    <div class="md-list-item-text">
                                        <h3>{{ question.questionName }}</h3>
                                        <p>{{ question.questionDescription }}</p>
                                    </div>
                                    <md-divider inset></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-card>
                </md-content>
            </md-tab>
            <md-tab label="TODO">
                <md-content class="md-padding">
                    <p>Make new tabs created when clicking on adding something in overview</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>