<script src="../controllers/classesController.js"></script>

<nav class="navbar navbar-masthead navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Assessorator</a>
        </div>

        <div class="collapse navbar-collapse bs-example-masthead-collapse-1">
            <!-- Left Elements -->
            <ul class="nav navbar-nav">
                <li class="active"><a>Course Selection</a></li>
                <li><a href="#" ng-click="about()">About</a></li>
            </ul>
            <!-- Right Elements -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="javascript:UI.importJson()">Import Database</a></li>
                        <li><a href="javascript:UI.exportJson()">Export Database</a></li>
                    </ul>
                </li>
                <li tooltip-placement="bottom" uib-tooltip="Nothing here yet!"><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="classesContainer" class="md-padding" style="margin-top: 0" ng-controller="classesCtrl">
     <div class="list-group" id="classesList" flex autoscroll="160">
            <div class="list-group-item active">
                <button type="button" id="createClassButton" class="btn btn-default btn-sm" style="float:right;top:-50px"
                        ng-click="addClass($event)" ng-disabled="readingDisk" tooltip-placement="left" uib-tooltip="Add Course">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <h3 class="list-group-item-heading">Courses</h3>
            </div>
            <!-- Classes Container-->
            <a ng-repeat="class in classes" ng-click="viewClass(class.ID)" href="#" context-menu="classesMenu"
               class="list-group-item list-group-item-action">
                <span class="badge" ng-if="class.objectives.length">{{ class.objectives.length }} Objective{{ class.objectives.length==1?'':'s' }}</span>
                <span class="badge" ng-if="class.topics.length-1">{{ class.topics.length-1 }} Topic{{ class.topics.length-1==1?'':'s' }}</span>
                <span class="badge" ng-if="getClassQuestions(class.ID)">{{ getClassQuestions(class.ID) }} Question{{ getClassQuestions(class.ID)==1?'':'s' }}</span>
                <span class="badge" ng-if="class.assessments.length">{{ class.assessments.length }} Assessment{{ class.assessments.length==1?'':'s' }}</span>

                <h4 class="list-group-item-heading">{{ class.courseID }} </h4>
                <p class="list-group-item-text">{{ class.courseName }}</p>
                <p class="list-group-item-text">{{ class.courseSemester + " " + class.courseYear }}</p>
            </a>
            <!-- No Classes -->
            <div ng-if="classes.length == 0" class="list-group-item list-group-item-action">
                <h4 class="list-group-item-heading">Welcome to The Assessorator. Create a class to get started.</h4>
            </div>
            <!-- Loading -->
            <div ng-if="readingDisk && !readError" class="list-group-item list-group-item-action">
                <h4 class="list-group-item-heading" style="margin-left:auto;margin-right:auto;text-align: center;">
                        Loading Data...<br/>
                        <img src="img/ajax-loader.gif" style="height:19px;width:220px;margin-left:auto;margin-right:auto;"/>
                </h4>
            </div>
            <!-- Load Error -->
            <div ng-if="readError" class="list-group-item list-group-item-action">
                <div ng-bind-html="readErrorText">
                </div>
            </div>
        </div>

</div>