<div class="list-group flex" style="margin-bottom:0">
    <div class="list-group-item active" style="box-shadow:none">
        <h3 style="margin-top:10px">
            <span>{{edit?'Edit':'Create'}} Class</span>
        </h3>
    </div>
    <li class="list-group-item">
        <form ng-submit="submit()" class="form-inline" style="margin-bottom:15px">
            <div class="form-group" style="width:100%">
                <label style="padding-right:5px">Course Name:</label>
                <input id="classNameField" name="className" ng-model="class.name" class="form-control" style="width:80%"/>
            </div>

            <button type="submit" style="display:none">Submit</button>
        </form>

        <form class="form-inline" style="text-align: center;" ng-submit="submit()">
            <div class="form-group">
                <label>Course ID:</label>
                <input required id="classID" name="classID" ng-model="class.id" class="form-control"/>

                <label>Semester:</label>
                <select ng-model="class.semester" class="form-control">
                    <option ng-repeat="semester in semesters" value="{{semester}}">
                        {{semester}}
                    </option>
                </select>

                <label>Year:</label>
                <input type="number" ng-model="class.year" maxlength="4" class="form-control" style="width:75px"/>
            </div>

            <button type="submit" style="display:none">Submit</button>
        </form>
    </li>
    <div style="padding: 5px; text-align:right">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">
            {{edit?'Modify':'Create'}}
        </button>
    </div>
</div>