<md-card id="editAssessmentContainer">
    <form name="assessmentForm" ng-submit="submitAssessment()">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Create Assessment</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content autoscroll="350">
            <md-content layout-padding>
                <div layout="row">
                    <div id="leftColumn" flex="70" style="margin-right: 10px">
                        <md-input-container md-no-float class="md-block" flex
                                            style="margin-bottom:0; margin-top:0; height:50px">
                            <input required id="assessmentTitle{{tabID}}" type="text" name="assessmentTitle"
                                   placeholder="Title" ng-model="assessment.title"/>
                            <div ng-messages="assessmentForm.assessmentTitle.$error">
                                <div ng-message="required">A title is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex style="margin-bottom:0; margin-top:0">
                            <label>Description</label>
                            <textarea ng-model="assessment.description"></textarea>
                        </md-input-container>

                        <span class="md-subhead">Question Criteria</span>
                        <div id="questionChoices" layout="row">
                            <md-button ng-click="pickQuestion()">Pick Question
                                <md-tooltip md-delay="500" md-direction="right">Manually choose a question to always be on the assessment.</md-tooltip>
                            </md-button>
                            <md-button ng-click="createRequirement($event)">Create Requirement
                                <md-tooltip md-delay="500" md-direction="right">Create a rule which will always be met with random questions.</md-tooltip>
                            </md-button>
                        </div>

                        <div id="requirements" layout="row" ng-if="questions.rules.length > 0">
                            <fieldset>
                                <legend>Requirements
                                    <md-tooltip md-delay="500" md-direction="top">These requirements will be fufilled upon assessment generation.</md-tooltip>
                                </legend>

                                <md-list>
                                    <md-list-item class="md-2-line" style="min-height:0" ng-repeat="rule in questions.rules">
                                        <div layout="row" class="md-padding" flex>
                                            <div layout="column" class="md-list-item-text" flex>
                                                <h3 ng-if="(rule.type == 'Topic' && !rule.topics.length) ||
                                                 (rule.type == 'Objective' && !rule.objectives.length)">{{ rule.type }}</h3>
                                                <h3 ng-if="rule.type == 'Topic' && rule.topics.length" ng-bind-html="formatArray(rule.topics, 'topicName')"></h3>
                                                <h3 ng-if="rule.type == 'Objective' && rule.objectives.length" ng-bind-html="formatArray(rule.objectives, 'objectiveText')"></h3>
                                                <p ng-if="rule.numRequired" ng-style="{'color':checkPossible($index)?'':'red'}">
                                                    {{ rule.numRequired }} Question{{rule.numRequired>1?'s':''}}
                                                    <md-tooltip md-delay="500" md-direction="bottom" ng-if="!checkPossible($index)">
                                                        This requirement is currently impossible to satisfy.</md-tooltip>
                                                </p>
                                            </div>
                                            <div layout="row" style="padding-left:8px">
                                                <md-button ng-click="editRequirement($index,$event)" class="md-icon-button" aria-label="Edit" style="padding: 0; margin:0;">
                                                    <md-icon md-svg-icon="img/edit.svg"></md-icon>
                                                </md-button>
                                                <md-button ng-click="deleteRequirement($index)" class="md-icon-button" aria-label="Delete" style="padding: 0;margin:0;">
                                                    <md-icon md-svg-icon="img/delete.svg"></md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                        <md-divider ng-if="!$last" inset></md-divider>
                                    </md-list-item>
                                </md-list>
                            </fieldset>
                        </div>
                    </div>

                    <div id="rightColumn" flex="30">
                        <fieldset class="standard" style="min-height:50px">
                            <legend>Questions
                                <md-tooltip md-delay="500" md-direction="top">The questions which will be generated in this assessment</md-tooltip>
                            </legend>
                            <md-list autoscroll="450">
                                <md-list-item class="md-2-line" style="min-height:0" ng-repeat="question in getQuestions()">
                                    <div layout="row" class="md-padding" flex>
                                        <div class="md-list-item-text">
                                            <h3>{{ question.questionTitle }}</h3>
                                            <p>{{ question.questionDescription }}</p>
                                        </div>
                                    </div>
                                    <md-divider ng-if="!$last" inset></md-divider>
                                </md-list-item>
                                <md-list-item class="md-2-line" ng-if="!getQuestions().length" style="min-height:0">
                                    <div layout="row" class="md-padding" flex>
                                        <div class="md-list-item-text">
                                            <h3>No Questions Added</h3>
                                            <p ng-if="!questions.rules.length">Add some questions or requirements!</p>
                                            <p ng-if="questions.rules.length">All questions will be generated from requirements.</p>
                                        </div>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </fieldset>
                    </div>

                </div>
            </md-content>
        </md-card-content>
        <md-card-actions>
            <div layout="row">
                <span flex></span>
                <md-button ng-click="cleanup()">Cancel</md-button>
                <md-button type="submit" class="md-primary">
                    Create
                </md-button>
            </div>
        </md-card-actions>
    </form>
</md-card>