<div id="editAssessmentContainer" style="margin-top: 0">
    <div class="list-group" flex>
        <div class="list-group-item active">
            <h3 class="list-group-item-heading">{{edit?'Edit':'Create'}} Assessment</h3>
        </div>

        <form name="assessmentForm" ng-submit="submitAssessment()">
            <div class="list-group-item list-group-item-action" autoscroll="180">
                <div class="form-group">
                    <div>
                        <label><h4 style="margin-bottom:2px">Title:</h4></label> <br/>
                        <textarea class="form-control" required id="assessmentTitle{{tabID}}" style="height:34px;
                        margin-bottom:15px;" rows="1" name="assessmentName" ng-model="assessment.title"></textarea>
                        <div ng-show="submitError" ng-messages="assessmentForm.assessmentName.$error">
                            <div class="alert alert-danger" ng-message="required" style="padding:10px;margin-bottom:0">Assessment Title is required</div>
                        </div>
                        <div class="form-group">
                            <label><h4 style="margin-bottom:2px;">Description:</h4></label> <br/>
                            <textarea class="form-control" style="height:34px" id="assessmentDesc{{tabID}}" rows="1"
                                      name="assessmentDesc" ng-model="assessment.description"></textarea>
                        </div>

                        <h4>Question Criteria:
                            <div id="questionChoices" class="btn-group btn-group-sm" role="group" style="margin-left:5px">
                                <button type="button" class="btn btn-default" ng-click="createRequirement($event)" tooltip-placement="top" tooltip-popup-delay="500"
                                    uib-tooltip="Create a requirement which will be satisfied by choosing random questions which meet it">
                                    Create Requirement</button>
                                <button type="button" class="btn btn-default" ng-click="pickQuestion()" tooltip-placement="top" tooltip-popup-delay="500"
                                        uib-tooltip="Choose a question which will always be on the generated assessment">Add Question</button>
                            </div>
                        </h4>
                    </div>
                    <div layout="row">
                        <div id="requirements" layout="row" style="width:25%;padding-right:10px;margin-right:10px;border-right:1px solid #e5e5e5">
                            <fieldset style="width:100%">
                                <legend>
                                    <span uib-tooltip="These requirements will be fulfilled upon assessment generation" tooltip-popup-delay="500">
                                        Requirements
                                    </span>
                                </legend>

                                <p ng-if="questions.rules.length === 0" style="font-size:16px">
                                    No Requirements Added
                                </p>
                                <uib-accordion close-others="false">
                                    <div uib-accordion-group class="panel-default" ng-repeat="rule in (questions.rules)" context-menu="ruleHeader" template-url="html/accordion-group.html">
                                        <uib-accordion-heading>
                                            <div style="display:flex">
                                                <div>
                                                    <span ng-if="(rule.type == 'Topic' && !rule.topics.length) ||
                                                        (rule.type == 'Objective' && !rule.objectives.length)">{{ rule.type }}</span>
                                                    <span ng-if="rule.type == 'Topic' && rule.topics.length" ng-bind-html="formatArray(rule.topics, 'topicName')"></span>
                                                    <span ng-if="rule.type == 'Objective' && rule.objectives.length" ng-bind-html="formatArray(rule.objectives, 'objectiveText')"></span>
                                                    <span class="badge" ng-if="rule.numRequired">
                                                        {{ rule.numRequired }} Question{{rule.numRequired>1?'s':''}}
                                                    </span>
                                                    <span class="badge" ng-if="!checkPossible($index)" style="background-color:darkred !important;"
                                                          uib-tooltip="This rule is currently impossible to satisfy" tooltip-placement="right">
                                                        Impossible
                                                    </span>
                                                </div>
                                                <button class="btn btn-link blackColor" style="outline:0;margin-left:auto;padding:0 5px"
                                                        type="button" ng-click="deleteRequirement($index)" uib-tooltip="Delete Requirement" tooltip-popup-delay="500" tooltip-placement="left">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </uib-accordion-heading>

                                        <div class="btn-group btn-group-sm pull-right" role="group">
                                            <button type="button" class="btn btn-default" ng-click="editRequirement($index,$event)">Edit</button>
                                        </div>

                                        <!-- Possible Question Count -->
                                        <p ng-bind-html="formatPossibilities($index)" style="margin-top:5px"></p>
                                    </div>
                                </uib-accordion>
                            </fieldset>
                        </div>
                        <div id="questions" style="width:75%">
                            <fieldset class="standard">
                                <legend>
                                    <span uib-tooltip="Questions which will always be included in the generated assessment" tooltip-popup-delay="500">
                                        Added Questions
                                    </span>
                                </legend>

                                <div ng-if="!getQuestions().length">
                                    <p style="font-size:16px">No Questions Added</p>
                                    <p ng-if="questions.rules.length">All questions will be generated from rules.</p>
                                </div>

                                <uib-accordion close-others="false">
                                    <div uib-accordion-group class="panel-default" ng-repeat="question in (getQuestions()|sort:getSortParams('questions',0))" context-menu="addedQuestionHeader" template-url="html/accordion-group.html">
                                        <uib-accordion-heading>
                                            <div style="display:flex">
                                                <div>
                                                    <span ng-bind-html="question.questionTitle"></span>
                                                    <span class="badge" ng-if="question.topicID != 0">
                                                        {{ questionBadgeTopic(question) }}
                                                    </span>
                                                    <span class="badge" ng-if="question.objectives.length">
                                                        {{ questionBadgeObjectives(question) }}
                                                    </span><br ng-if="question.questionDescription"/>
                                                    <small ng-if="question.questionDescription" ng-bind-html="question.questionDescription"></small>
                                                </div>
                                                <button class="btn btn-link blackColor" style="outline:0;margin-left:auto;padding:0 5px"
                                                        type="button" ng-click="deleteManualQuestion(question.ID,question.topicID)"
                                                        uib-tooltip="Remove Question from Assessment" tooltip-popup-delay="500" tooltip-placement="left">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </uib-accordion-heading>

                                        <div class="btn-group btn-group-sm pull-right" role="group">
                                            <button type="button" class="btn btn-default" ng-click="editQuestion(question.UID)">Edit</button>
                                        </div>

                                        <!-- Question Topic and Objectives -->
                                        <p bind-html-compile="formatQuestionTopicObjectives(question)"></p>

                                        <!-- Question Type -->
                                        <strong bind-html-compile="formatQuestionType(question)"></strong>

                                        <!-- Answers -->
                                        <p style="padding-left:5px" ng-if="question.answers" ng-bind-html="formatQuestionAnswers(question)"></p>

                                        <!-- No Answers -->
                                        <p class="text-info" ng-if="!question.answers">
                                            This question has no answers.
                                        </p>
                                    </div>
                                </uib-accordion>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group-item" style="padding:5px; text-align: right">
                <button class="btn btn-default" ng-click="cleanup()">Cancel</button>
                <button class="btn btn-primary" type="submit" ng-click="submitError=true">
                    {{edit?'Modify':'Create'}}
                </button>
            </div>
        </form>
    </div>
</div>