<md-dialog id="editClassContainer">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{edit?'Edit':'Create'}} Class</span>
            </h2>
        </div>
    </md-toolbar>
    <form name="classForm" ng-submit="submit()">
        <md-dialog-content layout-padding>
            <div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Course Name</label>
                        <input id="classNameField" name="className" ng-model="class.name"
                               md-auto-focus/>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex>
                        <label>Course ID</label>
                        <input required name="classID" ng-model="class.id"/>
                        <div ng-messages="classForm.class.id.$error">
                            <div ng-message="required">Course ID is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Semester</label>
                        <md-select ng-model="class.semester">
                            <md-option ng-repeat="semester in semesters" value="{{semester}}">
                                {{semester}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Year</label>
                        <input type="number" ng-model="class.year"/>
                    </md-input-container>
                </div>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button type="submit" class="md-primary">
                {{edit?'Modify':'Create'}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>