<md-card id="editTopicContainer">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{edit?'Edit':'Create'}} Topic</span>
        </md-card-title-text>
    </md-card-title>
    <form name="topicForm" ng-submit="submitTopic()">
        <md-content layout-padding>
            <div layout="column">
                <md-input-container class="md-block" flex>
                    <label>Topic Name</label>
                    <input required id="topicName{{tabID}}" type="text" name="topicName" ng-model="topic.name"/>
                    <div ng-messages="topicForm.topicName.$error">
                        <div ng-message="required">Topic Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Description</label>
                    <textarea ng-model="topic.description"></textarea>
                </md-input-container>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button ng-click="cleanup()">Cancel</md-button>
                <md-button type="submit" class="md-primary">
                    {{edit?'Modify':'Create'}}
                </md-button>
            </div>
        </md-content>
    </form>
</md-card>