<div id="editObjectiveContainer" style="margin-top: 0">
    <div class="list-group" flex>
        <div class="list-group-item active">
            <h3 class="list-group-item-heading">{{edit?'Edit':'Create'}} Objective</h3>
        </div>

        <form name="objectiveForm" ng-submit="submitObjective()">
            <div class="list-group-item list-group-item-action" autoscroll="260">
            <div class="form-group">
                <label><h4 style="margin-bottom:2px">Objective Name:</h4></label> <br/>
                <textarea class="form-control" required id="objectiveName{{tabID}}" style="height:20px; margin-bottom:15px;" rows="1"
                          name="objectiveName" ng-model="objective.name" ng-blur="submitError=true"></textarea>
                <div ng-show="submitError" ng-messages="objectiveForm.objectiveName.$error">
                    <div class="alert alert-danger" ng-message="required" style="padding:10px;margin-bottom:0">Objective Name is required</div>
                </div>
            </div>
            </div>

            <div class="list-group-item" style="padding:5px; text-align: right">
                <button class="btn btn-default" ng-click="cleanup()">Cancel</button>
                <button class="btn btn-primary" type="submit">
                    {{edit?'Modify':'Create'}}
                </button>
            </div>
        </form>
    </div>
</div>