* {
    -webkit-touch-callout: none; /*Disable text selection */
    -webkit-user-select: none;
    user-select: none;
    word-wrap: break-word; /* Don't wrap */
    text-overflow: ellipsis;
    -webkit-user-drag: none;
}

select {
    width: 70%;
    margin: 5px 0 5px 0;
}

li {
    list-style-type: none;
}

h3 {
    white-space: normal !important;
}

.list {
    width: 70%;
    min-height: 60px;
    margin: 5px 0 5px 0;
    padding: 2px 5px 2px 5px;
    border: groove;
    display: inline-block;
    overflow: auto;
}

#classesContainer {
    height: 85%;
    margin: 20px 80px;
}

.greyBackground {
    background: #f6f6f6;
}

md-list-item.ng-enter {
    transition: 0.5s;
    opacity: 0;
}

md-list-item.ng-enter-active {
    opacity: 1;
}

.md-chips .md-chip-input-container {
    width: 100%;
}

.md-chips .md-chip-input-container md-autocomplete md-autocomplete-wrap {
    width: 100%;
    max-height: 20px;
}
.md-list-item-inner {
    min-height: 0 !important;
}
md-chips-wrap {
    padding-bottom: 0 !important;
}

md-list-item.md-2-line.md-1-line, md-list-item.md-2-line.md-1-line > .md-no-style {
    min-height: 45px !important;
}
md-list-item.md-2-line.md-1-line > button {
    padding-top: 5px;
}
.panel-default > .panel-heading .badge {
    background-color: #777 !important;
}
.panel-group {
    margin-bottom: 5px !important;
}
p {
    margin-bottom: 5px !important;
}

span[uib-accordion-header] > div {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}
div[uib-accordion-group] > div {
    padding: 0;
}

.badge{
    position: relative;
    top: -1px;
}

/* Select Lib */

.ui-select-bootstrap .ui-select-choices-row>span {
    white-space: normal !important;
    /*display:block !important;*/
    /*line-height: 12px !important;*/
}
.ui-select-bootstrap .ui-select-choices-row>span>small {
    display:block !important;
    line-height: 12px !important;
}

.ui-select-bootstrap .ui-select-choices-row.active>span>small.text-muted {
    color: #ececec !important;
}
input[type=checkbox].bigCheckbox {
    transform: scale(1.5);
    margin-right: 2px;
    margin-bottom: 5px;
    bottom: -1px;
    position: relative;
}

.underlineHover:hover {
    text-decoration: underline;
}

/* Compact Density (overrides bootstrap)*/
span[uib-accordion-header] > div {
    padding: 2px 8px !important;
    line-height:1.1 !important;
}
.panel-body {
    padding: 5px !important;
    line-height: 15px !important;
}

/* Disable accordion animations */
.panel-collapse {
    transition: none !important;
}

.pin {
    transform: scale(1.5);
}
button.blackColor:not(.disabled)>span:hover {
    color: #000;
}
button.blueColor:not(.disabled)>span:hover {
    color: rgb(36,57,173);
}
.blueColor {
    color: rgb(63,81,181) !important;
}
.blackColor {
    color: #333 !important;
}

/* Dropdown for sort order, ui-dropdown in button group */
.btn-group-sm>.ui-select-bootstrap>.ui-select-match>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height:30px;
}
.btn-group-sm>.ui-select-bootstrap:first-child:not(:last-child):not(.dropdown-toggle)>.ui-select-match>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:0;
}
.btn-group>.ui-select-bootstrap:not(:first-child):not(:last-child):not(.dropdown-toggle)>.ui-select-match>.btn {
    border-radius: 0;
}
.btn-group>.ui-select-bootstrap:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child)>.ui-select-match>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:0
}

/* Dropdown for Topic Selection */
.input-group .form-control:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}


label {
    font-weight: normal !important;
}

textarea {
    resize: none;
}

.answerBox {
    border:none;
    border-bottom:1px solid #ddd;
    outline:0;
    height: 30px;
    width:100%;
    padding-top:8px;
}
.answerBox:focus {
    border-bottom: 1px solid rgb(63,81,181);
}

/* Shrink Navbar Height*/
.navbar-nav>li>a {
    padding: 10px !important;
}
.navbar-brand {
    padding: 10px !important;
    height: auto !important;
}
.navbar {
    min-height: 0 !important;
    margin-bottom: 0 !important;
}

.padding {
    padding: 15px;
}

/* Overview UIB Tabs */
li.uib-tab.active>a.nav-link {
    background: linear-gradient(to bottom, #337ab7 0, #2b669a 100%) repeat-x !important;
    border-color:#2b669a !important;
    color:white !important;
    text-shadow: 0 -1px 0 #286090 !important;
}
li.uib-tab>a.nav-link{
    height:43px !important;
    font-size:20px;
    padding: 5px 15px;
}

/* Shrink list-group-item active*/
.list-group-item.active {
    padding: 5px 15px !important;
}

/* Fix UI-Select Chips handling very long strings overflowing */
span.ui-select-match-item.btn.btn-default {
    white-space:normal;
}
div.ui-select-match>span.btn.btn-default.ui-select-toggle {
    white-space:normal;
    height: 100%;
}
.fullHeight {
    height: 100%;
}
div.ui-select-container>input.ui-select-search {
    height: 100%;
}
/* Fix Sort Mode lowering things under it when clicked */
.ui-select-search-hidden {
    display: none !important;
}
/* Fix Chips adding an extra line when it doesn't need it (in edit question ui specifically)*/
div.ui-select-container.ui-select-multiple>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*align-content:stretch;*/
}
div.ui-select-container.ui-select-multiple>div>input.ui-select-search {
    flex: 1 1 auto;
    width: auto !important;
}