* {
    -webkit-touch-callout: none; /*Disable text selection */
    -webkit-user-select: none;
    user-select: none;
}

select {
    width: 70%;
    margin: 5px 0 5px 0;
}

li {
    list-style-type: none;
}

li button {
    float: right;
    height: 18px;
    width: 20px;
}

.list {
    width: 70%;
    min-height: 60px;
    margin: 5px 0 5px 0;
    padding: 2px 5px 2px 5px;
    border: groove;
    display: inline-block;
    overflow: auto;
}

#classesContainer {
    height: 85%;
    margin: 20px 80px;
}

.greyBackground {
    background: #f6f6f6;
}

md-list-item.ng-enter {
    transition: 0.5s;
    opacity: 0;
}

md-list-item.ng-enter-active {
    opacity: 1;
}

.md-chips .md-chip-input-container {
    width: 100%;
}

.md-chips .md-chip-input-container md-autocomplete md-autocomplete-wrap {
    width: 100%;
    max-height: 20px;
}
.md-list-item-inner {
    min-height: 0 !important;
}